
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
hr {
  border: .25px solid #464646;
}
body {
  background-color: #353844;
}
h1 {
  color: black;
  font-size: 35px;
  font-family: serif;
  font-weight: 900;
}
#featured-bottom h1 {
  color: black;
  font-size: 35px;
  font-family: serif;
  font-weight: 900;
  margin-top: 40px;
}
footer h3 {
  margin-left: 30px;
  font-size: 14px;
  color: #84ECE7;
}
h3 {
  font-size: 14px;
  color: #84ECE7;
}
h3:hover {
  text-decoration: underline;
  color: white;
}
h4 {
  color: #999999;
  font-size: 14px;
}
h5 {
  font-size:13px;
  color: black;
  font-style: italic;
  font-weight: 400;
}
h6 {
  font-size: 12px;
  color: white;
}
p {
  font-size: 15px;
  color: grey;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin-bottom: 40px;
}
li {
  color: #84ECE7;
  font-size: 20px;
  font-style: bold;
  margin-right: 20px;
}
li:hover {
  color: white;
  text-decoration: underline;
}
img.logo{
  margin-right: 600px;
}
#featured-container {
  display: flex;
  margin: 20px 200px;
  height: 650px;
  width: 70%;
  background-color: white;
}
#featuredL {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 50%;
}
#featuredTop {
  display: inline;
  height: 150px;

  padding: 30px;
  font-family: serif;
  margin-bottom: 100px;

}
#featuredTop img {
  margin-right: 140px;

}
#fDate {
  width: 100%;
  margin-left:300px;
}
#featured-bottom {
  height: 400px;
  padding: 50px;
  text-align: right;
}
#featured-bottom h1:hover {
  color: #84ECE7;
  text-decoration: underline;
}
#author1 {
  display: flex;
  height:20px;
  width:100;
}
#featuredL img {
  border-radius: 50%;
  margin-left: 40px;
  margin-right: 10px;
}
#author1 h3 {
  margin-left: 20px;
  margin-top: 5px;
  color: #35B9D7;
  font-style: bold;
}
#author1 h3:hover {
  color: #84ECE7;
}
#featuredR {
  background-color: grey;
  width: 50%;
  justify-content: flex-start;
}
#articles-container {
  display:flex;
  height: 300px;
  background-color: white;
}
#dateList {
  display: flex;
  width: 250px;
  height: 30px;
}
#dateList ul {
  flex-direction: column;
  margin-top: 130px;
  margin-left: 180px;
  border: .25px solid #4B4C59;
  border-radius: 5px;
}
#dateList li {
  border: .25px solid #4B4C59;
  color: #4B4C59;
  border-radius: 2px;
  border: .25px solid #4B4C59;
  text-decoration: none;
  padding: 5px;
}
#dateList a {
  padding-left: 10px;
  padding-right: 10px;
  color:#4B4C59;
}
#dateList a:hover {
  background-color:#999999;
  color: white;
  text-decoration: none;
  border-radius: 2px;
}
#articles {
  display:flex;
  height: 150px;
  width: 100%;
  border-radius: 5px;
  margin-left: 300px;
  margin-top: 40px;
}
#articles img {
  height: 170px;
  width: 250px;
  background-color: grey;
  margin-right: 10px;
  margin-top:20px;
}
#articles h1 {
  width: 70%;
  font-size:25px;
  color: black;
  font-family:serif;
}
#articles p {
  width: 100%;
  font-family: sans-serif;
  font-weight: 200;
}
#author2 {
  display: flex;
  justify-content: flex-end;
  width: 400px;
  white-space: nowrap;
}
#author2 h3 {
  color: #35B9D7;
  font-family:sans-serif;
  margin-top:25px;
  margin-right: 200px;
}
#author2 h3:hover {
  color: #84ECE7;
}
#author2 p {
  justify-content: flex-end;
  margin-top: 25px;
}
#author2 img {
  height: 30px;
  width: 30px;
  justify-content: flex-end;
  border-radius: 50%;
}
#archives {
  height: 170px;
  background-color: white;
  text-align:center;
  border: .25px solid #E5E5E5;
}

#archives h1 {
  font-size:25px;
  color:black;
  padding: 70px;
}
#archives a {
  color:#35B9D7;
  text-decoration: underline;
}
#sub-footer  {
  height: 190px;
  background-color: white;
  text-align: center;
}
footer {
  display: flex;
  flex-direction: row;
  height: 100px;
  background-color:#353844;
}
#footer {
  margin-left: 190px;
  margin-bottom: 40px;
}
#footer-logo {
  height: 50px;
  width:80px;

}
#footer-links {
  display: flex;
  margin-left: 300px;
  margin-top: 20px;
}
